<header class="Header">
  <div class="container">
    <div class="Header_content">
      <a href="{{ site.baseurl }}/" class="Header_logo"><img src="{{ site.baseurl }}/img/kemal.png" alt="Kemal"></a>
      <div class="Header_content_right Header_menu">
        <nav id="main-menu" class="Header_menu_nav">
          {% for my_page in site.nav_bars %}
            {% if my_page.title %}
            <a href="{{ my_page.url }}" class="Header_menu_item">
            {% if my_page.title == "Github" %}
              <svg class="icon" title="Kemal on Github">
                <use xlink:href="#icon-github"></use>
              </svg>
            {% elsif my_page.title == "Twitter" %}
              <svg class="icon" viewBox="0 0 24 24" title="Kemal on X" aria-label="Kemal on X">
                <path d="M18.244 2H21l-6.543 7.475L22 22h-6.828l-5.356-6.99L3.5 22H1l7.045-8.05L2 2h6.828l4.865 6.35L18.244 2Zm-1.2 18h1.897L7.06 4H5.1l11.944 16Z"/>
              </svg>
            {% else %}
              {{ my_page.title }}
            {% endif %}
            </a>
            {% endif %}
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
</header>
